@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap&amp;subset=latin-ext');

/* ---- base ---- */
* { margin:0; padding:0; font-family:'Roboto', arial, sans-serif; }
body { font-size:13px; font-weight:500; color:#8f8f8f; background:url('../img/bg.jpg'); }
img { border:none; max-width:100%; height:auto; vertical-align:middle; }
a { color:#546939; text-decoration:none; }
a:hover { color:#546939; text-decoration:underline; }

ul { list-style-type:none; }
ul li, ol li { margin:0 0 5px 15px; }

input, textarea, select { background:#222; color:#7f7f7f; outline:0; width:100%; padding:7px 10px; border:0; display:block; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
label { font-weight:600; padding:5px 0; display:block; cursor:pointer; }
label span { margin:0 0 5px; display:block; }

input[type="button"], button { background:#546939; color:#d6d6d6; border-radius:3px; padding:8px 15px; border:0; outline:0; cursor:pointer; 
    -webkit-transition: background-color 350ms ease-out;
    -moz-transition: background-color 350ms ease-out;
    -o-transition: background-color 350ms ease-out;
    transition: background-color 350ms ease-out;
}
input[type="button"]:hover, button:hover { background:#42532d; }

::selection { background: #184A0C; color:#fff; }
::-moz-selection { background: #184A0C; color:#fff; }

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { color:#7f7f7f; }
textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder { font-size:0; }
textarea:-moz-placeholder, input:-moz-placeholder { color:#7f7f7f; }
textarea:focus:-moz-placeholder, input:focus:-moz-placeholder  { font-size:0; }
textarea::-moz-placeholder, input::-moz-placeholder { color:#7f7f7f; }
textarea:focus::-moz-placeholder, input:focus::-moz-placeholder { font-size:0; }
textarea:-ms-input-placeholder, input:-ms-input-placeholder { color:#7f7f7f; }
textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder { font-size:0; }

.clear { clear:both; }
.wrapper { width:100%; max-width:920px; min-height:800px; margin:0 auto;margin-top: 15px; background-color:rgba(0,0,0,0.5)}
.hr { margin:20px 0; height:2px; background:url('../img/hr.jpg'); }

.space40 {height:40px;}

/* ---- other shits  ---- */
.head { width:100%; max-width:1600px; height:142px; margin:0 auto; background-color:rgba(0,0,0,0.5);  border-top:0; border-bottom:0; }
.head .logo { float:left; margin:14px 0 0 29px; }
.head .menu-mobile { display:none; }

/* ---- menu  ---- */
.menu 
{ 
    background:linear-gradient(18deg, #22222285, #17171740); background-size:400% 400%; 
    border:1px solid #222; border-left:0; border-right: 0; 
    width:100%; height:40px; display:block; 
    
}
.menu ul { float:left; }
.menu ul li { float:left; margin:0; position:relative; }
.menu ul li a { line-height:40px; padding:0 20px; display:inline-block; color:#868686; }
.menu ul li::after { border-right:1px solid #2b2b2b87; content:''; }
.menu ul li:last-child::after { border-right:none; }
.menu ul li a:hover, .menu ul li:hover a { 
    background:#22222259; text-decoration:none; 
    -webkit-transition: background-color 350ms ease-out;
    -moz-transition: background-color 350ms ease-out;
    -o-transition: background-color 350ms ease-out;
    transition: background-color 350ms ease-out;
}
.menu span {   
    border:solid #868686;
    border-width:0 2px 2px 0;
    display:inline-block;
    padding:2px;
    margin: 0px 0 2px 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menu ul li ul { display:none; position:absolute; background:#131112; padding:0; min-width:180px; }
.menu ul li:hover ul { display:block; }
.menu ul li ul li { float:none; }
.menu ul li ul li a { display:block; padding:12px 20px; line-height:normal;}
.menu ul li ul li a:hover { background:#000; }
.menu ul li ul li::after { content:''; border:0; }

.menu ul li a.active { background:#22222259; }
.menu form { float:right; width:250px; margin:5px 15px 0 0; position:relative; }
.menu form .isearch { cursor:auto; top:8px; right:10px; position:absolute; background:url(../img/icons/search-icon.png) no-repeat right center; width:14px; height:14px; padding:0; }

/* ---- content   ---- */
.content-wrap {}

.content { margin:20px 20px 35px 20px; width:880px; /*min-height:900px;*/ float:left; }
.content h1 { margin:0 0 20px 0; color:#FFFFFF; font-size:20px; }
.content h2 { margin:0 0 10px 0; color:#546939; font-size:18px; }
.content h3 { margin:0 0 8px 0; color:#546939; font-size:15px; }
.content a:hover { color:#679628; text-decoration:none; }
.content p { font-weight:500; letter-spacing:0.005em; line-height:20px; }
.content strong { font-weight:900; color:#a0a0a0; }
.content span { }

.content form.search-form { float:right; width:50%; margin:0 0 0 0; position:relative; }
.content form.search-form input { padding:10px 10px; }
.content form.search-form .isearch { cursor:auto; top:11px; right:10px; position:absolute; background:url(../img/icons/search-icon.png) no-repeat right center; width:14px; height:14px; padding:0; }
.content .howinstall { float:left; margin:9px 0 0 0; }

.content .news-post { margin:25px 0 0; }
.content .news-post .hr { margin:10px 0; }
.content .news-post .date { float:right; margin:10px 0 0 0; font-style:italic; }

.content .list-wit p span { font-weight:600; color:#546939; margin:0 0px 5px 0; display:block; }
.content .list-wit ul { margin:0 0 15px 25px; }
.content .list-wit ul li { margin:0; letter-spacing:0.005em; line-height:20px; }
.content .list-wit ul li::before { content:"\2022"; color:#546939; display:inline-block; width:1em; margin-left:-1em; }

/* 
p:nth-child(odd) 
p:nth-child(even)
*/

.content .download-it-h1 { float:left; }
.content .download-it-a { float:right; background:#546939; color:#d6d6d6; border-radius:3px; padding:12px 30px; border:0; outline:0; cursor:pointer;
    -webkit-transition: background-color 350ms ease-out;
    -moz-transition: background-color 350ms ease-out;
    -o-transition: background-color 350ms ease-out;
    transition: background-color 350ms ease-out;
}
.content .download-it-a:hover { color:#d6d6d6; background:#42532d; }

.addons { margin:30px 0 0 0; }
.addons .addon { padding:15px; 
    -webkit-transition: background-color 400ms ease-out;
    -moz-transition: background-color 400ms ease-out;
    -o-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
}
.addons-for-odd-even .addon:nth-child(odd) { background:#82828208; }
.addons .addon:hover { background:#22222272; }
.addons .addon-name { font-size:17px; margin:0 0 15px; }
.addons .addon-name .icon-link { background:url(../img/icons/link.png) no-repeat; width:16px; height:16px; display:inline-block; margin:0 4px -2px 0px; }
.addons .addon-name a:hover .icon-link { background-position:0 -16px; }
.addons .addon-descri { margin:0 0 15px; }
.addons .addon-images { /*min-height:85px;*/ }
.addons .addon-images img { width:100px; margin:0 5px 0 0; border:2px solid #212121; padding:4px;
    -webkit-transition: border-color 400ms ease-out;
    -moz-transition: border-color 400ms ease-out;
    -o-transition: border-color 400ms ease-out;
    transition: border-color 400ms ease-out;
}
.addons .addon-images img:hover { border-color:#676767; }
.addons .addon-links { margin:20px 0 0 0; }
.addons .addon-download { /*text-transform:lowercase;*/ }

.paginator { margin:15px 0; }
.paginator a { display:inline-block;text-align:center; padding:7px 10px; background:#222; 
    -webkit-transition:  background-color 200ms ease-out;
    -moz-transition:  background-color 200ms ease-out;
    -o-transition:  background-color 200ms ease-out;
    transition:  background-color 200ms ease-out;
}
.paginator a:hover, .paginator a.active { color:#a7a7a7; background:#254200; }

.arp h2 { text-align:center; }
.arenacal { width:600px; margin:0 auto 25px; border-collapse:collapse; }
.arenacal tr td { padding:5px 0; }
.arenacal tr td.first { width:50px; }
.arenacal tr td.devid { width:50px; text-align:center; }
.arenacal tr.calbutton input[type="button"] { width:200px; margin:10px auto 0; }

.row { text-align:center; margin:0; }
.row .span4 { float:left; width:270px; margin:0 35px 0 0; }
.row .span4 img { border:2px solid #212121; padding:4px; 
    -webkit-transition: border-color 400ms ease-out;
    -moz-transition: border-color 400ms ease-out;
    -o-transition: border-color 400ms ease-out;
    transition: border-color 400ms ease-out;
}
.row .span4 img:hover { border-color:#676767; }
.row .span4.nomargin { margin-right:0; }

.row.contact { margin:25px 0; text-align:left; }
.row.contact .span4 {  }
.row.contact textarea { min-height:250px; max-height:400px; max-width:880px; }
.row.contact input, textarea, select { padding:10px 10px;}
.row.contact button { margin:8px 0 0; padding:10px 25px; }

.message-sent { margin:15px 0 0 0; padding:10px 15px; color:#d6d6d6; }
.message-sent.success { background:#546939; } 
.message-sent.fail { background:#cc3838;} 

/* ---- sidebar   ---- */

.sidebar { width:280px; /*min-height:900px;*/ float:right; background:#82828208; }
.sidebar-in { margin:15px 15px; }
.sidebar .divit {  margin:0 -15px 15px -15px; padding:8px 15px; font-size:13px; color:#949494;
    background: linear-gradient(18deg, #22222285, #17171740);
    background-size: 400% 400%;
}
.sidebar .divit.second { margin-top:15px; }

.sidebar .shoutbox { height:300px; border:#212121 solid 1px; color:#8F8F8F; padding:8px 10px; overflow:auto; overflow-y:auto; overflow:-moz-scrollbars-vertical; overflow-x:hidden; z-index:2; }
.sidebar .shoutbox .add-shout { padding:0 0 8px; }
.sidebar .shoutbox .shoutbox-content { }
.sidebar .shoutbox .single-message { border-top:#212121 1px dashed; padding:4px 0px 4px 0px; line-height:16px; font-size:12px; }
.sidebar .shoutbox .single-message .name { color:#546939; text-transform:capitalize; }

.sidebar .shoutbox .add-message { display:none; }
.sidebar .shoutbox .add-message textarea { min-height:105px; max-height:105px; max-width:228px; min-width:228px; }
.sidebar .shoutbox .add-message button { margin:8px 0 0; }


.sidebar .shoutbox::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #222222;
}

.sidebar .shoutbox::-webkit-scrollbar {
	width: 8px;
	background-color: #222222;
}

.sidebar .shoutbox::-webkit-scrollbar-thumb {
	background-color: #254200;
	/*border: 2px solid #555555;*/
}

.sidebar .shoutbox .add-message.active { display:block; }
.sidebar .shoutbox-in.hide { display:none; }

/* ---- adsense  ---- */
.head .adsense-head { float:right; margin:30px 40px 0 0px; }
.content .adsense-underaddons { text-align:center; margin:25px 0 0; }
.content .adsense-undertalents { text-align:center; margin:25px 0 0; }
.content .adsense-undertalents-shared { text-align:center; margin:3px 0 0; }
.sidebar .adsense-side { margin:20px 0 0 0; }

/* ---- tooltip  ---- */
.ui-tooltip {
	padding:10px;
	position: absolute;
	z-index: 99999999;
	max-width: 350px;
    color:#fff;
    background:#000;
    top:0;
}
body .ui-tooltip {
	border-width: 2px;
}
.ui-helper-hidden-accessible { display:none; }

/* ---- footer  ---- */
.footer { width:100%; max-width:1150px; margin:15px auto 25px; font-weight:500; color:#8f8f8f; font-size:12px; }
.footer .copy { float:left; }
.footer .creator { float:right; }
.footer a, .footer span { color:#7da674; }


/* ---- responzive  ---- */
@media only screen and (min-width:1024px) and (max-width:1250px) {
    .head { width:980px; }
    .wrapper { width:980px; }
    .content { width:auto; float:none; }
    .row .span4 { width:290px; }
    .row.contact textarea { max-width:inherit; }
    .sidebar { display:none; }
    .footer { width:960px; }
}

@media only screen and (max-width:1023px) {
    .head { width:100%; }
    .head .adsense-head { width:500px; }
    .wrapper { width:100%; }
    .content { width:auto; float:none; }
    .row .span4 { width: 31.95%; margin:0 15px 0 0; }
    .row.contact textarea { max-width:inherit; }
    .sidebar { display:none; }
    .footer { width:95%; }
}


@media only screen and (max-width:766px) {
    .wrapper { border:0; border-bottom:1px solid #222; }
    .head { height:inherit; border:0; }
    .head .logo { width:80px; padding:8px 15px; margin:0; }
    .head .menu-mobile { display:block; float:right; background:#222; margin:20px 20px 0 0; padding:11px 18px; cursor:pointer; }
    .head .menu-mobile div { width:32px; height:4px; background-color:#546939; margin:6px 0; }
    .head .adsense-head { display:none; }
    
    .content { margin:15px 15px 25px 15px; }
    .content h1 { font-size:17px; }
    .content h2 { font-size:16px; }
    
    .menu { height:inherit; }
    .menu ul { display:none; float:none; background:#222; position:relative; z-index:2;}
    .menu ul li { float:none; }
    .menu ul li::after { content:''; border:0; }
    .menu ul li a { line-height:inherit; padding:17px 20px; border-bottom:1px solid #2d2d2d; display:block; }
    
    .menu ul li:hover ul { display:none; }
    .menu ul li ul.mobile-active { display:block; }
    .menu ul li ul { position:relative; }
    .menu ul li ul li a { padding:17px 20px 17px 40px; }
    .menu ul li.last a { border-bottom:0; }
    
    .row .span4 { width:29.8%; }
    .row .span4 img, .addons .addon-images img { padding:2px; }
    .row.contact .span4 { width:100%; float:none; }
    .arenacal { max-width:600px; width:100%; }
    
    .addons .paginator a { margin: 0 0 6px 0px; }
}

@media only screen and (max-width:640px) {
    .content .howinstall { float:none; margin:0; }
    .content form.search-form { float:none; width:100%; margin:15px 0 0; }
}